
<html>
<body>

    
    <!--END NAV SECTION -->
    <!--SLIDE CAROUSEL SECTION -->
    
    <section id="pricing-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                   
                    <div class="text-center">
                        <h1><h01><img src ="/toaster (1).png" width="45px"> How to make tost</h01></h1>
                        <h02>
                            TOST 이용방법
                        </h02>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100 ">
                    <div id="pricing-table" class="row">

			<!--<section id="one" class="wrapper style1">-->
				<div class="inner">
			    <div class="col-md-12 col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.6s">
					<article class="feature left">
						<span class="image"><img src="/s1.jpg" alt="" /></span>
						<div class="content">
							<h02>STEP1</h02>
							<br>
							<h03>자신이 원하는 어학 과목, 난이도, 요일, 시간을 설정합니다.</h03>
							<!--<ul class="actions">-->
							<!--	<li>-->
							<!--		<a href="#" class="button alt">More</a>-->
							<!--	</li>-->
							<!--</ul>-->
						</div>
					
					</article>
					</div>
					  <div class="col-md-12 col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.6s">
					<article class="feature right">
						<span class="image"><img src="/s2.jpg" alt="" /></span>
						<div class="content">
							<h02>STEP2</h02>
							<br>
							<h03> 검색하여, 강좌의 정보를 확인하세요.</h03>
							<!--<ul class="actions">-->
							<!--	<li>-->
							<!--		<a href="#" class="button alt">More</a>-->
							<!--	</li>-->
							<!--</ul>-->
						</div>
					</article>
					</div>
					
			    <div class="col-md-12 col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.6s">
					<article class="feature left">
						<span class="image"><img src="/s3.jpg" alt="" /></span>
						<div class="content">
							<h02>STEP3</h02>
							<br>
							<h03>자신이 원하는 어학 강좌를 링크를 통해 자세한 정보를 확인하세요.</h03>
							<!--<ul class="actions">-->
							<!--	<li>-->
							<!--		<a href="#" class="button alt">More</a>-->
							<!--	</li>-->
							<!--</ul>-->
						</div>
					
					</article>
					</div>
				</div>
			<!--</section>-->

<!--<pre class="code">$("#carousel").flipster({-->
<!--    style: 'carousel',-->
<!--    spacing: -0.5,-->
<!--    nav: true,-->
<!--    buttons: true,-->
<!--});</pre>-->

        </article>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!--END SLIDE CAROUSEL SECTION -->

    <!--END ABOUT SECTION -->
    <!--SERVICES SECTION -->
    <section id="about-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h01><img src ="/milk2.png" width="45px"> Services</h01><br>
                        <h4>  </h4>
                        <!--<i class="fa fa-check small-icons bk-color-green"></i>-->
                        <p class="lead">
                           <h03>TOST란?!</h03><br>
                          <h04> TOST는 TO + ST 의 합성어로, TO = TOEIC, TOEFL, TOSS 등 어학시험을 의미, ST는 stress를 줄여준다는 의미를 가지고 있습니다.</h04>
                     <br>  <h04>TOST는 toss의 과거형으로 배구에서 높이 올려주는 도움패스처럼 우리 서비스를 통해 학생들에게 도움을 주고자 합니다.</h04>
                                 
                        </p>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center">
                            <i class="fa fa-bolt icon-round bk-color-red"></i>
                            <h03>검색의 편리성</h03>
                            <p><h04>
                                기존 토익학원 선정 시, 여러 사이트를 접속하여 강좌 강의를 찾아보는 것과 다르게, 헬취 검색 한 번으로 여러 학원의
                                강좌 정보를 검색할 수 있습니다.</h04>
                            </p>
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">-->
                    <!--    <div class="text-center">-->
                    <!--        <i class="fa fa-comments icon-round bk-color-black"></i>-->
                    <!--        <h4>24x7 Support</h4>-->
                    <!--        <p>-->
                    <!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.-->
                    <!--     Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <div class="text-center">
                            <i class="fa fa-desktop icon-round bk-color-light-blue"></i>
                            <h03>편리하고 단순한 디자인</h03>
                            <p><h04>
                                보기 쉬운 디자인으로, 검색 기능 이용시 편리하게 이용할 수 있습니다.</h04>
                            </p>
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">-->
                    <!--    <div class="text-center">-->
                    <!--        <i class="fa fa-flask icon-round bk-color-green"></i>-->
                    <!--        <h4>Tested Template</h4>-->
                    <!--        <p>-->
                    <!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.-->
                    <!--     Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">-->
                    <!--    <div class="text-center">-->
                    <!--        <i class="fa fa-pencil icon-round bk-color-blue"></i>-->
                    <!--        <h4>Say Yes To Customize</h4>-->
                    <!--        <p>-->
                    <!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.-->
                    <!--     Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <div class="text-center">
                            <i class="fa fa-thumbs-up icon-round bk-color-brown"></i>
                            <h03>내 강좌 찜하기 기능</h03>
                            <p><h04>
                                자신이 원하는 강의를 찜해 장바구니에 담아 정보를 보관할 수 있습니다.</h04>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--END SERVICES SECTION -->


    </section>
    <!--END PORTFOLIO SECTION -->
    <!--PRICING SECTION -->
    
    <!--END PRICING SECTION -->
        <!--ABOUT SECTION -->
    <section id="services-section">
        <div class="wrap-pad">
            <div class="row">
                
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                    <div class="text-center">
                        <h01><img src ="/men-shaking-hands.png" width="45px"></i> Meet Team</h01>
                        <p class="lead"><h02>
                            멋쟁이 사자처럼
                       </h02>
                        </p>
                    </div>

                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100  ">
                <div id="jiyoni">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle" width="300px" height="300px"  src="/sg.jpg" alt="">
                            </p>
                            <h03>조성국</h03>
                            <p>
                               <h04>sung9gi@gmail.com</h04>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle" src="/jin.jpg" alt="">
                            </p>
                            <h03>정유진</h03>
                            <p><h04>yoojinn93@naver.com</h04>
                               
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle" src="/jiyoun.jpg" alt="">
                            </p>
                            <h03>이지연</h03>
                            <p>
                                <h04>jiyoni1225@gmail.com</h04>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle"  src="/jong.jpg" alt="">
                            </p>
                            <h03>이종원</h03>
                            <p><h04>
                               ljw3728@gmail.com</h04>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle"  src="/jun.jpg" alt="">
                            </p>
                            <h03>박찬준</h03>
                            <p><h04>wns0415@gmail.com</h04>
                              
                            </p>
                        </div>
                    </div>
                </div>
                </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--CONTACT SECTION -->
    <section id="contact-section">

        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h01><img src ="/speech-bubble (1).png" width="45px"> Contact us Now</h01>
                        <p class="lead"><h03>
                            불편하신 점 문의해 주세요.</h03>                 
                        </p>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  margin-top-20">
                    <div class="col-md-6  col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <h03><i class="fa fa-pencil small-icons bk-color-light-blue"></i>Send Us</h03>
                        <hr />
                        

        <form action="/write"  method="POST"> 
 
        <div class="col-md-6 col-sm-6">
        <div class="form-group">
        
        <label for="exampleInputTitle1">제목</label>
        
        <input name = "title" type="text" class="form-control" id="exampleInputTitle1" placeholder="제목을 써 주세요.">
        
        </div>
        </div>

        <div class="col-md-12 col-sm-12">
        <div class="form-group">
        
        <label for="exampleInputPassword1">내용</label>
        
        <textarea name="content" class="form-control" id="exampleInputPassword1"   rows"20" id="comment" placeholder="문의사항을 입력하세요."></textarea>
        
        </div>
        </div>
        <!--<button type="submit" class="btn btn-default">전송</button>-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg submit2" data-toggle="modal" data-target="#myModal">Submit</button>
            
                   <!--<button type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Submit</button>-->
            
                  
<!--         <div id="myModal" class="modal fade" role="dialog">-->
<!--  <div class="modal-dialog">-->

    <!-- Modal content-->
<!--    <div class="modal-content">-->
        
<!--      <div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--        <h02 class="modal-title">전송완료</h02>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p><h03>소중한 의견 감사합니다.</h03></p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
        </div>
        </div>
        </form>            
        
                <div class="col-md-6  col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.6s">
                    <h03><i class="fa fa-comments small-icons bk-color-red"></i>Reach Us Here</h03>
                    <hr />
                    <p><h02>성균관대학교 학생회관 208호</h02></p><br />
                </div>
            </div>
            <!-- ./ Content div-->
        </div>
        </div>
</section>
</body>
<script>

		 $(".submit2").click(function() {
		      if (exampleInputTitle1.value == '' && exampleInputPassword1.value=='') {
                window.alert("모든 항목을 입력하세요.");
                }
		  //   if(exampleInputTitle1.form-control.value==""||exampleInputPassword1.form-control.value==""){ 
    //          window.alert("모든 항목을 입력하세요") 
             else if(exampleInputTitle1.value=='') {
                window.alert("제목을 입력하세요.");
                }
                
            else if(exampleInputPassword1.value=='') {
                window.alert("내용을 입력하세요.");
                }
             else 	 	// sweetAlert("Good job!", "You clicked the button!", "success")
		  	sweetAlert({   title: "메일이 전송되었습니다. 좋은 의견 감사합니다. 앞으로도 더욱 좋은 서비스를 위해 노력하겠습니다.", imageUrl: "/close-envelope.png", timer: 2000,   showConfirmButton: false, customClass: 'sweet' });
		 });
</script>

</html>
