
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

<!--<![endif]-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
<!--    [if IE]>-->
<!--        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<!--        <![endif]-->-->
    <!--GOOGLE FONT -->
<!--    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
    <!--BOOTSTRAP MAIN STYLES -->
<!--    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet" />-->
    <!--FONTAWESOME MAIN STYLE -->
<!--    <link href="assets/stylesheets/font-awesome.css" rel="stylesheet" />-->
    <!--PRETTYPHOTO MAIN STYLE -->
<!--    <link href="assets/stylesheets/prettyPhoto.css" rel="stylesheet" />-->
    <!--CUSTOM STYLE -->
<!--    <link href="assets/stylesheets/style2.css" rel="stylesheet" />-->
     <!--HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>-->
<!--      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
<!--      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>-->
    <!--<![endif]-->-->
    

<!--</head>-->
<html>
<body>

    
    <!--END NAV SECTION -->
    <!--SLIDE CAROUSEL SECTION -->
    
    <section id="pricing-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h1><i class="fa fa-plane small-icons bk-color-blue"></i>HOW TO MAKE TOST</h1>
                        <p class="lead">
                            TOST 이용방법
                        </p>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100 ">
                    <div id="pricing-table" class="row">
                        <div class="col-md-4 col-sm-4" data-scrollreveal="enter left and move 100px, wait 0.6s">
                            <ul class="plan-main">
                                <li class="plan-name" >STEP 01</li>
                                <li>학원의 위치, 강좌의 정보, 시간을 설정합니다.</li>
                                <li ><div class="a" alt=""><img src="/step1.jpg" width="150px"></div></li>
                                <li ><div class="a" alt=""><img src="/1234.jpg" width="150px"></div></li>
                                
                            
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                            <ul class="plan-main featured">
                                <li class="plan-name">STEP 02</li>
                                <li>검색하여, 강좌의 정보를 확인하세요.</li>
                                <li ><div class="a" alt=""><img src="/3333.jpg" width="150px"></div></li>
                                <li ><div class="a" alt=""><img src="/찜목록.jpg" width="150px"></div></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4" data-scrollreveal="enter right and move 100px, wait 0.6s">
                            <ul class="plan-main">
                                <li class="plan-name">STEP 03</li>
                                <li>링크를 통해, 강좌 정보를 확인하세요. 장바구니 기능을 통해 원하는 강좌 정보를 저장하세요.</li>
                                <!--<li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    
    
     <script src="assets/javascripts/jquery.glide.js"></script>
    <script>
    $("#Glide").glide({
        type: "carousel"
    });
    </script>
            <div id="Glide" class="glide">
        
            <div class="glide__arrows">
                <button class="glide__arrow prev" data-glide-dir="<">prev</button>
                <button class="glide__arrow next" data-glide-dir=">">next</button>
            </div>
        
            <div class="glide__wrapper">
                <ul class="glide__track">
                    <li class="glide__slide">aaa</li>
                    <li class="glide__slide">bbb</li>
                    <li class="glide__slide">ccc</li>
                </ul>
            </div>
        
            <div class="glide__bullets"></div>
        
        </div>
    <section id="slide-head" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>STEP 01</h1> 학원의 위치, 강좌의 정보, 시간을 설정합니다.
                    </div>
                </div>
            </div>
             ./ first active div
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>STEP 03</h1>검색하여, 강좌의 정보를 확인하세요.
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>STEP 02</h1>링크를 통해, 강좌 정보를 확인하세요. 장바구니 기능을 통해 원하는 강좌 정보를 저장하세요.
                    </div>
                </div>
            </div>
             ./ Second div
        </div>
        <a class="prev" href="#slide-head" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="next" href="#slide-head" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </section>
    
    <!--END SLIDE CAROUSEL SECTION -->

    <!--END ABOUT SECTION -->
    <!--SERVICES SECTION -->
    <section id="about-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h1><i class="fa fa-check small-icons bk-color-green"></i>Services</h1>
                        <p class="lead">
                           TOST란,?!
                           TOST는 TO + ST 의 합성어로, TO = TOEIC, TOEFL, TOSS 등 어학시험을 의미, ST는 stress를 줄여준다는 의미를 가지고 있습니다.
                     <br>  TOST는 toss의 과거형으로 배구에서 높이 올려주는 도움패스처럼 우리 서비스를 통해 학생들에게 도움을 주고자 합니다.
                                 
                        </p>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center">
                            <i class="fa fa-bolt icon-round bk-color-red"></i>
                            <h4>검색의 편리성</h4>
                            <p>
                                기존 토익학원 선정 시, 여러 사이트를 접속하여 강좌 강의를 찾아보는 것과 다르게, 헬취 검색 한 번으로 여러 학원의
                                강좌 정보를 검색할 수 있습니다.
                            </p>
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">-->
                    <!--    <div class="text-center">-->
                    <!--        <i class="fa fa-comments icon-round bk-color-black"></i>-->
                    <!--        <h4>24x7 Support</h4>-->
                    <!--        <p>-->
                    <!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.-->
                    <!--     Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <div class="text-center">
                            <i class="fa fa-desktop icon-round bk-color-light-blue"></i>
                            <h4>편리하고 단순한 디자인</h4>
                            <p>
                                보기 쉬운 디자인으로, 검색 기능 이용시 편리하게 이용할 수 있습니다.
                            </p>
                        </div>
                    </div>
                    <!--<div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">-->
                    <!--    <div class="text-center">-->
                    <!--        <i class="fa fa-flask icon-round bk-color-green"></i>-->
                    <!--        <h4>Tested Template</h4>-->
                    <!--        <p>-->
                    <!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.-->
                    <!--     Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">-->
                    <!--    <div class="text-center">-->
                    <!--        <i class="fa fa-pencil icon-round bk-color-blue"></i>-->
                    <!--        <h4>Say Yes To Customize</h4>-->
                    <!--        <p>-->
                    <!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.-->
                    <!--     Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.-->
                    <!--        </p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <div class="text-center">
                            <i class="fa fa-thumbs-up icon-round bk-color-brown"></i>
                            <h4>내 강좌 찜하기 기능</h4>
                            <p>
                                자신이 원하는 강의를 찜해 장바구니에 담아 정보를 보관할 수 있습니다.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--END SERVICES SECTION -->
    <!--PORTFOLIO SECTION -->
    <!--<section id="portfolio-section">-->
    <!--    <div class="wrap-pad">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">-->
    <!--                <div class="text-center">-->
    <!--                    <h1><i class="fa fa-picture-o small-icons bk-color-light-blue"></i>Portfolio</h1>-->
    <!--                    <p class="lead">-->
    <!--                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim sapien. Aliquam erat volutpat.-->
    <!--                     Quisque eu ante at tortor imperdiet gravida nec sed turpis. Phasellus augue augue.                        -->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
                <!-- ./ Heading div-->
              
    <!--            <div class="col-md-10 col-md-offset-1 col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.6s">-->
    <!--                <ul class="portfolio-items col-3">-->
    <!--                    <li class="portfolio-item ">-->
    <!--                        <div class="item-main">-->
    <!--                            <div class="portfolio-image">-->
    <!--                                <img src="assets/img/portfolio/thumb/t1.png" alt="">-->
    <!--                                <div class="overlay">-->
    <!--                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big1.png"><i class=" fa fa-eye"></i></a>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <h5>Lorem ipsum dolor sit amet</h5>-->
    <!--                        </div>-->
    <!--                    </li>-->
                       
    <!--                    <li class="portfolio-item  ">-->
    <!--                        <div class="item-main">-->
    <!--                            <div class="portfolio-image">-->
    <!--                                <img src="assets/img/portfolio/thumb/t3.png" alt="">-->
    <!--                                <div class="overlay">-->
    <!--                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big3.png"><i class=" fa fa-eye"></i></a>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <h5>Lorem ipsum dolor sit amet</h5>-->
    <!--                        </div>-->
    <!--                    </li>-->
    <!--                    <li class="portfolio-item   ">-->
    <!--                        <div class="item-main">-->
    <!--                            <div class="portfolio-image">-->
    <!--                                <img src="assets/img/portfolio/thumb/t4.png" alt="">-->
    <!--                                <div class="overlay">-->
    <!--                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big4.png"><i class=" fa fa-eye"></i></a>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <h5>Lorem ipsum dolor sit amet</h5>-->
    <!--                        </div>-->
    <!--                    </li>-->
    <!--                    <li class="portfolio-item">-->
    <!--                        <div class="item-main">-->
    <!--                            <div class="portfolio-image">-->
    <!--                                <img src="assets/img/portfolio/thumb/t5.png" alt="">-->
    <!--                                <div class="overlay">-->
    <!--                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big5.png"><i class=" fa fa-eye"></i></a>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <h5>Lorem ipsum dolor sit amet</h5>-->
    <!--                        </div>-->
    <!--                    </li>-->
    <!--                    <li class="portfolio-item">-->
    <!--                        <div class="item-main">-->
    <!--                            <div class="portfolio-image">-->
    <!--                                <img src="assets/img/portfolio/thumb/t1.png" alt="">-->
    <!--                                <div class="overlay">-->
    <!--                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big1.png"><i class=" fa fa-eye"></i></a>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <h5>Lorem ipsum dolor sit amet</h5>-->
    <!--                        </div>-->
    <!--                    </li>-->
    <!--                    <li class="portfolio-item">-->
    <!--                        <div class="item-main">-->
    <!--                            <div class="portfolio-image">-->
    <!--                                <img src="assets/img/portfolio/thumb/t2.png" alt="">-->
    <!--                                <div class="overlay">-->
    <!--                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big2.png"><i class=" fa fa-eye"></i></a>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <h5>Lorem ipsum dolor sit amet</h5>-->
    <!--                        </div>-->
    <!--                    </li>-->
    <!--                    <li class="portfolio-item">-->
    <!--                       <div class="item-main">-->
    <!--                            <div class="portfolio-image">-->
    <!--                                <img src="assets/img/portfolio/thumb/t3.png" alt="">-->
    <!--                                <div class="overlay">-->
    <!--                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big3.png"><i class=" fa fa-eye"></i></a>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <h5>Lorem ipsum dolor sit amet</h5>-->
    <!--                        </div>-->
    <!--                    </li>-->
    <!--                    <li class="portfolio-item">-->
    <!--                       <div class="item-main">-->
    <!--                            <div class="portfolio-image">-->
    <!--                                <img src="assets/img/portfolio/thumb/t4.png" alt="">-->
    <!--                                <div class="overlay">-->
    <!--                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big4.png"><i class=" fa fa-eye"></i></a>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <h5>Lorem ipsum dolor sit amet</h5>-->
    <!--                        </div>-->
    <!--                    </li>-->
    <!--                     <li class="portfolio-item">-->
    <!--                        <div class="item-main">-->
    <!--                            <div class="portfolio-image">-->
    <!--                                <img src="assets/img/portfolio/thumb/t2.png" alt="">-->
    <!--                                <div class="overlay">-->
    <!--                                    <a class="preview btn btn-primary" title="Image Title Here" href="assets/img/portfolio/big/big2.png"><i class=" fa fa-eye"></i></a>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <h5>Lorem ipsum dolor sit amet</h5>-->
    <!--                        </div>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>-->
                <!-- ./ Content div-->
    <!--        </div>-->
    <!--    </div>-->

    </section>
    <!--END PORTFOLIO SECTION -->
    <!--PRICING SECTION -->
    
    <!--END PRICING SECTION -->
        <!--ABOUT SECTION -->
    <section id="services-section">
        <div class="wrap-pad">
            <div class="row">
                
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">
                    <div class="text-center">
                        <h1><i class="fa fa-wrench small-icons bk-color-brown"></i>Meet Team</h1>
                        <p class="lead">
                            멋쟁이 사자처럼
                       
                        </p>
                    </div>

                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100  ">
                <div id="jiyoni">
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle" width="300px" height="300px"  src="/성국-1.jpg" alt="">
                            </p>
                            <h3>조성국</h3>
                            <p>
                                @gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle" src="/jin.jpg" alt="">
                            </p>
                            <h3>정유진</h3>
                            <p>
                               @gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle" src="/jiyoun.jpg" alt="">
                            </p>
                            <h3>이지연</h3>
                            <p>
                                jiyoni1225@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle"  src="/jong.jpg" alt="">
                            </p>
                            <h3>이종원</h3>
                            <p>
                               @gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s" style="display:inline-block;vertical-align:middle">
                        <div class="text-center">
                            <p>
                                <img class="img-responsive img-thumbnail img-circle"  src="/jun.jpg" alt="">
                            </p>
                            <h3>박찬준</h3>
                            <p>
                              @gmail.com
                            </p>
                        </div>
                    </div>
                </div>
                </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--CONTACT SECTION -->
    <section id="contact-section">

        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h1><i class="fa fa-tint small-icons bk-color-black"></i>Contact us Now</h1>
                        <p class="lead">
                            불편하신 점 문의해 주세요.                     
                        </p>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  margin-top-20">
                    <div class="col-md-6  col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <h3><i class="fa fa-pencil small-icons bk-color-light-blue"></i>Send Us</h3>
                        <hr />
                        
        <div class="rowr">

        <form action="/write" method="POST">
        <div class="col-md-6 col-sm-6">
        <div class="form-group">
        
        <label for="exampleInputTitle1">제목</label>
        
        <input name = "title" type="text" class="form-control" id="exampleInputTitle1" placeholder="제목을 써 주세요.">
        
        </div>
        </div>
        <!--<div class="form-group">-->
        
        <!--<label for="exampleInputEmail1">받는 사람</label>-->
        
        <!--<input name = "email" type="email" class="form-control"  id="exampleInputEmail1" placeholder="관리자 email">-->
        
        <!--</div>-->
        <div class="col-md-12 col-sm-12">
        <div class="form-group">
        
        <label for="exampleInputPassword1">내용</label>
        
        <textarea name="content" class="form-control" id="exampleInputPassword1"   rows"10" id="comment" placeholder="문의사항을 입력하세요."></textarea>
        
        </div>
        </div>
        <!--<button type="submit" class="btn btn-default">전송</button>-->
        <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
        
        
        </div>
        </form>                
                       

                        <!--<form method="EMAIL">-->
                        <!--    <div class="row">-->
                        <!--        <div class="col-md-6 col-sm-6">-->
                        <!--            <div class="form-group">-->
                        <!--                <input name="title" type="text" class="form-control" required="required" id="exampleInputTitle1" placeholder="제목">-->
                        <!--            </div>-->
                        <!--        </div>-->
                        <!--        <div class="col-md-6 col-sm-6">-->
                        <!--            <div class="form-group">-->
                        <!--                <input name ="email" type="text" class="form-control" required="required" placeholder="작성자">-->
                        <!--            </div>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--    <div class="row">-->
                        <!--        <div class="col-md-12 col-sm-12">-->
                        <!--            <div class="form-group">-->
                        <!--                <textarea name="content" required="required" class="form-control" rows="4" placeholder="내용"></textarea>-->
                        <!--            </div>-->
                        <!--            <div class="form-group">-->
                        <!--                <button type="submit" class="btn btn-primary btn-lg">Submit</button>-->
                        <!--            </div>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</form>-->
                    </div>
                   
                    <div class="col-md-4 col-md-offset-1  col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        
                        <h3><i class="fa fa-comments small-icons bk-color-red"></i>Reach Us Here</h3>
                        <hr />
                        <p>성균관대학교 학생회관 208호</p><br />
                    </div>
                </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--END CONTACT SECTION -->
    
    
    <!--FOOTER SECTION -->

    <!--END FOOTER SECTION -->
     <!--JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
     <!--CORE JQUERY LIBRARY -->
    <!--<script src="assets/javascripts/jquery.js"></script>-->
     <!--BOOTSTRAP SCRIPTS LIBRARY -->
    <!--<script src="assets/javascripts/bootstrap.min.js"></script>-->
     <!--PRETTYPHOTO  SCRIPTS  LIBRARY-->
    <!--<script src="assets/javascripts/jquery.prettyPhoto.js"></script>-->
      <!--SCROLL REVEL  SCRIPTS  LIBRARY-->
    <!--<script src="assets/javascripts/scrollReveal.js"></script>-->
     <!--CUSTOM SCRIPT-->
    <!--<script src="assets/javascripts/custom.js"></script>-->

</body>
</html>
