<!-- Overlay preloader-->
		<div class="htlfndr-loader-overlay"></div>

				<!-- Start of slider section -->
				<section class="htlfndr-slider-section">
					<div class="owl-carousel">
						<div class="htlfndr-slide-wrapper">
							<img src="/assets/slide1.png" alt="img-1" />
						</div><!-- .htlfndr-slide-wrapper-->
						<div class="htlfndr-slide-wrapper">
							<img src="/assets/slide3.png" alt="img-2" />
						</div><!-- .htlfndr-slide-wrapper-->
						<div class="htlfndr-slide-wrapper">
							<img src="/assets/slide2.png" alt="img-3" />
						</div><!-- .htlfndr-slide-wrapper-->
					</div>
				</section><!-- .htlfndr-slider-section -->
				<!-- End of slider section -->
				<noscript><h2>You have JavaScript disabled!</h2></noscript>
			</header>

			<!-- Start of main content -->
			<main role="main">
				
				
				<!-- Section with popular destinations -->
				<section class="container htlfndr-top-destinations">
					
					<h2 class="htlfndr-section-title"></h2>

					<div class="htlfndr-steps">
						
						<table>
							<tr>
								<th>과목군</th>
								<th>과목</th>
								<th>레벨</th>
								<th>학원위치</th>
								<th>요일</th>
							</tr>
							<tr>
							    <td data-th="Role">
							    	<input type="checkbox">토익<br>
							    	<input type="checkbox">토익스피킹<br>
							    	<input type="checkbox">토플
							    </td>
							    <td data-th="Add to Page">
							    	<input type="checkbox">종합<br>
							    	<input type="checkbox">단과
							    </td>
							    <td data-th="Configure">
							    	<input type="checkbox">상<br>
							    	<input type="checkbox">중<br>
							    	<input type="checkbox">하
							    </td>
							    <td data-th="View">
							    	<input type="checkbox">강남<br>
							    	<input type="checkbox">종로<br>
							    	<input type="checkbox">신체
							    </td>
							    <td data-th="Change Permissions">
							    	<input type="checkbox">주5일<br>
							    	<input type="checkbox">월수금<br>
							    	<input type="checkbox">화목금
							    </td>
							</tr>
						</table>
						
						<ul class="htlfndr-progress">
							<li class="htlfndr-active-step" data-toggle="tab" href="#subjectgun">
								<span class="htlfndr-step-description">과목군</span>
							</li>
							<li data-toggle="tab" href="#subject">
								<span class="htlfndr-step-description">과목</span>
							</li>
							<li data-toggle="tab" href="#level">
								<span class="htlfndr-step-description">레벨</span>
							</li>
							<li data-toggle="tab" href="#location">
								<span class="htlfndr-step-description">학원위치</span>
							</li>
							<li data-toggle="tab" href="#day">
								<span class="htlfndr-step-description">요일</span>
							</li>
						</ul>
					</div><!-- .htlfndr-steps -->
					
					<div class="panel-body">
                          <div class="tab-content tasi-tab">
                            <div id="subjectgun" class="tab-pane fade in active">
                            	<h1>과목군</h1>
                            </div>
                       
                            <div id="subject" class="tab-pane fade in active">
                            	<h1> hihi2</h1>
                            </div>
                           
                           <div id="level" class="tab-pane fade in active">
                            	<h1> level</h1>
                            </div>
                           
                           <div id="location" class="tab-pane fade in active">
                            	<h1> 종로?</h1>
                            </div>
                           
                           <div id="day" class="tab-pane fade in active">
                            	<h1> 요일</h1>
                            </div>
                           
                           
                           
                           
                           </div>
                          </div>
                          
                          
					
				</section><!-- .container.htlfndr-top-destinations -->
				
				<!-- Section called USP section -->
				<section class="container-fluid htlfndr-usp-section">
					<h2 class="htlfndr-section-title htlfndr-lined-title"><span>USP section</span></h2><!-- You need <span> and 'htlfndr-lined-title' class for both side line -->
					<div class="container">
						<div class="row">
							<div class="col-sm-4 htlfndr-icon-box">
								<img class="htlfndr-icon icon-drinks" src="/assets/icon-ups-drinks.png" height="100" width="100" alt="icon" />
									<h5 class="htlfndr-section-subtitle">beverages included</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.</p>
									<a href="#" class="htlfndr-read-more-button">read more</a>
							</div><!-- .col-sm-4.htlfndr-icon-box -->

							<div class="col-sm-4 htlfndr-icon-box">
								<img class="htlfndr-icon icon-drinks" src="/assets/icon-ups-card.png" height="100" width="100" alt="icon" />
									<h5 class="htlfndr-section-subtitle">best deals</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.</p>
									<a href="#" class="htlfndr-read-more-button">read more</a>
							</div><!-- .col-sm-4.htlfndr-icon-box -->

							<div class="col-sm-4 htlfndr-icon-box">
								<img class="htlfndr-icon icon-drinks" src="/assets/icon-ups-check.png" height="100" width="100" alt="icon" />
									<h5 class="htlfndr-section-subtitle">guarantee</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.</p>
									<a href="#" class="htlfndr-read-more-button">read more</a>
							</div><!-- .col-sm-4.htlfndr-icon-box -->
						</div><!-- .row -->
					</div><!-- .container -->
				</section><!-- .container-fluid .htlfndr-usp-section -->
				
				<!-- Section with categories -->
				<section class="container-fluid htlfndr-categories-portfolio">
					<h2 class="htlfndr-section-title bigger-title">discover the world</h2>
					<div class="htlfndr-section-under-title-line"></div>
					<div class="container">
						<div class="row">
							<div class="col-sm-4 col-xs-6">
								<div class="htlfndr-category-box" onclick="void(0)"><!-- The "onclick" is using for Safari (IOS)
								 that recognizes the 'div' element as a clickable element -->
									<img src="http://placehold.it/360x310" height="311" width="370" alt="category-img" />
									<div class="category-description">
										<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-germany"></i></div><!-- .htlfndr-icon-flag-border -->
										<h2 class="subcategory-name">berlin</h2>
										<a href="#" class="htlfndr-category-permalink"></a><!-- This link will be displayed to "block" and
										 will overlay to whole box by hovering on large desktop and will be a circle link on small devices -->
										<h5 class="category-name">germany</h5>
										<p class="category-properties"><span>374</span> properties</p>
									</div><!-- .category-description -->
								</div><!-- .htlfndr-category-box -->
							</div><!-- .col-sm-4.col-xs-6 -->

							<div class="col-sm-4 col-xs-6">
								<div class="htlfndr-category-box" onclick="void(0)">
									<img src="http://placehold.it/360x310" height="311" width="370" alt="category-img" />
									<div class="category-description">
										<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-britain"></i></div><!-- .htlfndr-icon-flag-border -->
										<h2 class="subcategory-name">london</h2>
										<a href="#" class="htlfndr-category-permalink"></a>
										<h5 class="category-name">britain</h5>
										<p class="category-properties"><span>185</span> properties</p>
									</div><!-- .category-description -->
								</div><!-- .htlfndr-category-box -->
							</div><!-- .col-sm-4.col-xs-6 -->

							<div class="col-sm-4 col-xs-6">
								<div class="htlfndr-category-box" onclick="void(0)">
									<img src="http://placehold.it/360x310" height="311" width="370" alt="category-img" />
									<div class="category-description">
										<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-italy"></i></div><!-- .htlfndr-icon-flag-border -->
										<h2 class="subcategory-name">rom</h2>
										<a href="#" class="htlfndr-category-permalink"></a>
										<h5 class="category-name">italy</h5>
										<p class="category-properties"><span>98</span> properties</p>
									</div><!-- .category-description -->
								</div><!-- .htlfndr-category-box -->
							</div><!-- .col-sm-4.col-xs-6 -->

							<div class="col-sm-4 col-xs-6">
								<div class="htlfndr-category-box" onclick="void(0)">
									<img src="http://placehold.it/360x310" height="311" width="370" alt="category-img" />
									<div class="category-description">
										<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-france"></i></div><!-- .htlfndr-icon-flag-border -->
										<h2 class="subcategory-name">paris</h2>
										<a href="#" class="htlfndr-category-permalink"></a>
										<h5 class="category-name">france</h5>
										<p class="category-properties"><span>281</span> properties</p>
									</div><!-- .category-description -->
								</div><!-- .htlfndr-category-box -->
							</div><!-- .col-sm-4.col-xs-6 -->

							<div class="col-sm-4 col-xs-6">
								<div class="htlfndr-category-box" onclick="void(0)">
									<img src="http://placehold.it/360x310" height="311" width="370" alt="category-img" />
									<div class="category-description">
										<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-russia"></i></div><!-- .htlfndr-icon-flag-border -->
										<h2 class="subcategory-name">moscow</h2>
										<a href="#" class="htlfndr-category-permalink"></a>
										<h5 class="category-name">russia</h5>
										<p class="category-properties"><span>38</span> properties</p>
									</div><!-- .category-description -->
								</div><!-- .htlfndr-category-box -->
							</div><!-- .col-sm-4.col-xs-6 -->

							<div class="col-sm-4 col-xs-6">
								<div class="htlfndr-category-box" onclick="void(0)">
									<img src="http://placehold.it/360x310" height="311" width="370" alt="category-img" />
									<div class="category-description">
										<div class="htlfndr-icon-flag-border"><i class="htlfndr-icon-flag flag-japan"></i></div><!-- .htlfndr-icon-flag-border -->
										<h2 class="subcategory-name">tokio</h2>
										<a href="#" class="htlfndr-category-permalink"></a>
										<h5 class="category-name">japan</h5>
										<p class="category-properties"><span>318</span> properties</p>
									</div><!-- .category-description -->
								</div><!-- .htlfndr-category-box -->
							</div><!-- .col-sm-4.col-xs-6 -->
						</div><!-- .row -->
					</div>
				</section><!-- .container-fluid.htlfndr-categories-portfolio -->

				<!-- Section with visitors cards -->
				<section class="container-fluid htlfndr-visitors-cards">
					<h2 class="htlfndr-section-title bigger-title">visitors experienced</h2>
					<div class="htlfndr-section-under-title-line"></div>
					<div class="container">
						<div class="row">
							<div class="col-sm-4 col-xs-12 htlfndr-visitor-column">
								<div class="htlfndr-visitor-card">
									<div class="visitor-avatar-side">
										<div class="visitor-avatar">
											<img src="http://placehold.it/90x90" height="90" width="90" alt="user avatar" />
										</div><!-- .visitor-avatar -->
									</div><!-- .visitor-avatar-side -->
									<div class="visitor-info-side">
										<h5 class="visitor-user-name">Sara Connor</h5>
										<h6 class="visitor-user-firm">Travel Magazine</h6>
										<p class="visitor-user-text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam nar...</p>
									</div><!-- .visitor-info-side -->
								</div><!-- .htlfndr-visitor-card -->
							</div><!-- .col-sm-4.col-xs-12.htlfndr-visitor-column -->

							<div class="col-sm-4 col-xs-12 htlfndr-visitor-column">
								<div class="htlfndr-visitor-card">
									<div class="visitor-avatar-side">
										<div class="visitor-avatar">
											<img src="http://placehold.it/90x90" height="90" width="90" alt="user avatar" />
										</div><!-- .visitor-avatar -->
									</div><!-- .visitor-avatar-side -->
									<div class="visitor-info-side">
										<h5 class="visitor-user-name">Mira Young</h5>
										<h6 class="visitor-user-firm">Hotel Manager</h6>
										<p class="visitor-user-text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam nar...</p>
									</div><!-- .visitor-info-side -->
								</div><!-- .htlfndr-visitor-card -->
							</div><!-- .col-sm-4.col-xs-12.htlfndr-visitor-column -->

							<div class="col-sm-4 col-xs-12 htlfndr-visitor-column">
								<div class="htlfndr-visitor-card">
									<div class="visitor-avatar-side">
										<div class="visitor-avatar">
											<img src="http://placehold.it/90x90" height="90" width="90" alt="user avatar" />
										</div><!-- .visitor-avatar -->
									</div><!-- .visitor-avatar-side -->
									<div class="visitor-info-side">
										<h5 class="visitor-user-name">John Smith</h5>
										<h6 class="visitor-user-firm">Hotel Manager</h6>
										<p class="visitor-user-text">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam nar...</p>
									</div><!-- .visitor-info-side -->
								</div><!-- .htlfndr-visitor-card -->
							</div><!-- .col-sm-4.col-xs-12.htlfndr-visitor-column -->
						</div><!-- .row -->
					</div><!-- .container -->
				</section><!-- .container-fluid.htlfndr-visitors-cards -->
			</main>
			<!-- End of main content -->
			
		
		<div id="htlfndr-sing-in">
			<div class="htlfndr-content-card">
				<div class="htlfndr-card-title clearfix">
					<h2 class="pull-left">로그인</h2> 
				</div>
				<form id="htlfndr-sing-in-form" method="post">
					<h4>E-mail adress</h4>
					<input id="htlfndr-sing-in-email" class="htlfndr-input " type="text" name="htlfndr-sing-in-emal">
					<h4>Password</h4>
					<input id="htlfndr-sing-in-pass" class="htlfndr-input " type="text" name="htlfndr-sing-in-pass">
					<div class="clearfix">
					<span>Don't Have an Account? 
						<a data-target="#htlfndr-sing-up" data-toggle="modal" href="#">
							<span>회원가입</span>
						</a>
					</span>
					<input type="submit" value="로그인" class="pull-right">
					</div>
				</form>
			</div>
		</div>
		
		<div id="htlfndr-sing-up">
			<div class="htlfndr-content-card">
				<div class="htlfndr-card-title clearfix">
					<h2 class="pull-left">회원가입</h2> 
				</div>
				<form id="htlfndr-sing-up-form" method="post">
					<div class="row">
						<div class="col-md-6">
							<h4>name</h4>
							<input id="htlfndr-sing-up-name" class="htlfndr-input " type="text" name="htlfndr-sing-up-name">
						</div>
					</div>
					<h4>E-mail adress</h4>
					<input id="htlfndr-sing-up-email" class="htlfndr-input " type="text" name="htlfndr-sing-up-email">
					<h4>Password</h4>
					<input id="htlfndr-sing-up-pass" class="htlfndr-input " type="password" name="htlfndr-sing-up-pass">
					<h4>Confirm Password</h4>
					<input id="htlfndr-sing-up-pass-conf" class="htlfndr-input " type="password" name="htlfndr-sing-up-pass-conf">
					<div class="clearfix">
					<span>Have an Account? 
						<a data-target="#htlfndr-sing-in" data-toggle="modal" href="#">
							<span>로그인</span>
						</a>
					</span>
					<input type="submit" value="회원가입" class="pull-right">
					</div>
				</form>
			</div>
		</div>	
			

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/assets/jquery-1.11.3.min.js"></script>
		<!-- Include Jquery UI script file -->
		<script src="/assets/jquery-ui.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- Include Query UI Touch Punch is a small hack that enables the use
		 of touch events on sites using the jQuery UI user interface library. -->
		<script src="/assets/jquery.ui.touch-punch.min.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
		<!-- Include Owl Carousel script file -->
		<script src="/assets/owl.carousel.min.js"></script>
		<!-- Include main script file -->
		<!--script src="/assets/script.js"></script> -->

		<!--<script src="js/less.min.js" ></script> -->
