/* Hide the Ordinary Checkbox */
/*input[type="checkbox"] {*/
/*    display: none;*/
/*}*/

/* Checkbox Icons */
/*label {*/
/*    position: relative;*/
/*    padding-left: 30px;*/
/*    font-size: 30px;*/
/*    cursor: pointer;*/
/*    color: #fff;*/
/*    padding: 16px 28px 0 0;*/
/*}*/
 
/*label:before, label:after {*/
/*    font-family: FontAwesome;*/
/*    font-size: 50px;*/
    /*absolutely positioned*/
/*    position: absolute; top: 0; left: -49px; right: 10px;*/
/*}*/

/*label:before {*/
    /*content: '\f096'; checkbox unchecked */
/*}*/
/*label:after {*/
    /*content: '\f00c'; /*checkbox checked *
/*    max-width: 0;*/
/*    overflow: hidden;*/
/*    opacity: 0.5;*/
/*    font-size: 27px;*/
/*   top: 16px;*/
/*   left: -42px;*/
/*   color: #f2ca27;*/
 
/*-webkit-transition: all 0.50s;*/
/*    -moz-transition: all 0.50s;*/
/*    -o-transition: all 0.50s;*/
/*     transition: all 0.50s;*/
/*}*/

/* Animating the Checkbox Icon */
/*input[type="checkbox"]:checked + label:after {*/
/*    max-width: 25px;*/
/*    opacity: 1;*/
/*    margin-right: 90px;*/
/*}*/

/*.ms-options-wrap > .ms-options > ul li.selected label,*/
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #63B1B1;
}